<div id="about-container">
  <h1>About Us</h1>
  <p>Hello! Our names are Michelle and Cory and we're Olive & Twist, your friendly neighborhood cocktail catering company.<br><br>
  We met and fell in love while working for the same restaurant, Cory as a bartender and Michelle as a server.  While our day jobs have changed, we love revisiting our roots in hospitality through our new business. We offer fine cocktails and friendly service as a team devoted to making your party a hit.  Classic drinks, cocktail service, custom concoctions.  You name it and we'll deliver!
  </p>
  <p>
    Contact us at 314-580-0018 or oliveandtwistsd@gmail.com
  </p>
</div>