<div id="landing-page-emblem">
  <b><div id="landing-page-emblem-text">Olive & Twist</div></b>
  <%=image_tag("http://www.clker.com/cliparts/2/I/x/k/K/c/olive.svg", height: "350", width: "600")%>
</div>