#admin-login-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

#admin-login-container h2{
  text-align: center;
  font-weight: 200;
}

#admin-login-container #admin-login-btn {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 40px;
}